/*sy1,sy2*/
.title{
	text-align: center;
	color: red;
}
.cap{

	color: green;
}
.duanluo{
	text-indent: 2em;
	line-height: 23px;
        
}
.bgc{
	background-color: rgb(255,251,240);/*乳白色*/
}




/*sy2*/
.img2{

        float: right;
        border-style: solid;
        margin-left: 20px;
        margin-bottom: 20px;

}








/*sy3*/
.nav {
        height: 75px;
    }
.nav li {
    	list-style: none;
        float: left;
        margin: 0 10px;
        padding-top: 21px;
        width:100px;  
    }
.nav a{
        display: block;
        background: url(../img/sy3-3-1.png);
        color: #fff;
        font-size: 14px;
        line-height: 33px;
        padding-left: 15px;
        text-decoration: none;
}
.nav li a:hover {  /* 鼠标经过a a变换背景 */
        background-image: url(../img/sy3-3-2.png);
    }


/*sy3-4*/

.sy4{
        background-color: #fbfbfb;
        font-size: 18px;
}
.table{
        width: 600px;
        margin: 0 auto;
        border: black 1px solid;
        border-collapse: collapse;
        text-align: center;
}

.caption{
        font-weight: bold;
        margin-top: 50px;
        line-height: 30px;
}
th{
        border: black 1px solid;
        border-collapse: collapse;
        text-align: center;
        background-color: #328AA4;
        color:#fff;
}
td{
        border: black 1px solid;
        border-collapse: collapse;
        text-align: center;
}
tr{
        border: black 1px solid;
        border-collapse: collapse;
        text-align: center;
        background-color: #E5F1F4;
}
table tr:nth-child(even){
    background-color: #FDFBCC;
}

/*sy3-5*/
.form{

        width: 500px;
        height: 600px;
}
.login{    
        margin:0 auto;  
        width:280px;
        padding:14px;
        border:2px dashed #b7ddf2;   
        background:#ebf4fb;
        }
.login *{        /*容器中所有元素的样式*/
        margin:0px;
        padding:0px;
        font-family:"宋体";
        font-size:12px;
        line-height:1.5em;
        }
.login h2{       
        text-align:center;   
        font-size:18px;
        font-weight:bold;     /
        margin-bottom:10px;
        padding-bottom:5px;
        border-bottom:1px solid #b7ddf2;  
        }
.content{    
                padding:5px;
        }
.frm_cont{   
                margin-bottom:8px;
                font-weight: bold;
        }
.username input,.password input{    /*用户名文本域和密码域的样式*/
                width:180px;
                height:18px;
                padding:2px 0px 2px 18px;    
                border:1px solid #aacfe4;    
        }
.login .username input{           /*用户名文本域背景图像*/
                background:#fff url("../img/用户.png") no-repeat left center;
                background-size: 18px;
        }
.login .password input{
                background:#fff url("../img/锁.png") no-repeat left center;
                background-size: 18px;
        }
.btns{        /*按钮的样式*/
                text-align: center;   /*文字水平居中对齐*/
        }

/*sy6*/
.sy6body{
        font-family: arial;
        font-size: 12px;   
        padding:0px;       
        margin:0px;        
}
a{
        text-align: center;     
        text-decoration: none; 
}
a:link{
        color: black;          
        text-decoration: none; 
}
a:hover{
        color:blue;
        text-decoration:none;
}
div img{
        border:1px solid #ccc;   
        width:193px;             
        height:128px;     
}
em{
        color:#5BB9EE;    
        font-weight:bold;  
}
a span{
        color:black;        
}
a:hover em{
        color:red;            
        text-decoration:none; 
}
a:hover img{
        border-color:red;     
}
.main{
        border:2px solid #ccc; 
        width:840px;
}
.matter4{
        width:100%           
        margin:auto;
        margin-top:8px;    
}
.content{               
        overflow:hidden;    /*溢出隐藏*/
        padding:6px;       
}

.tp3{                   
        width:197px;       
        margin:5px;         
        float:left;         
        display:inline;     /*显示为行级元素*/
}









